#main-about {
    left: 0;
    right: 0;
    margin: auto;
    height: 600px;
}

h1 {
    font-weight: bold;
    font-size: xx-large;
    letter-spacing: 5px;
    padding-top: 100px;
    padding-bottom: 25px;
    text-align: center;
}

h2 {
    font-size: x-large;
    padding-bottom: 20px;
    text-align: center;
}

p {
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
}

#main-about ul {
    padding-left: 25px;
    line-height: 30px;
    font-size: large;
    text-align: center;
}

#img-github {
    width: 50px;
    height: 50px;
}