/* -----------导入---------*/


/*导入重置样式表*/

@import url("reset_style.css");

/*导入字体图标库*/

@import url("../resource/icon/iconfont.css");

/*定义全局字体*/

@font-face {
    font-family: "google";
    src: url("../resource/font/NotoSansSC-Regular.otf");
}

* {
    font-family: "google"!important;
}


/* 去掉number类型的input输入框的上下箭头
 */


/*谷歌*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


/*火狐*/

input[type="number"] {
    -moz-appearance: none;
}


/*全局样式*/


/* 基础样式*/


/* 解决高度坍塌*/

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}


/*导航栏样式*/

.header_nav {
    position: fixed;
    left: 0;
    right: 0;
    background-color: white;
    color: #3c4043;
    margin: auto;
    display: flex;
    height: 60px;
    padding: 0 40px;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 10%);
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    font-size: 16px;
}

.header_nav a:hover {
    color: #027cb0;
}


/*复写logo中的a*/

.logo>a:hover {
    color: #3c4043;
}

.header_nav>.left_header {
    display: flex;
    width: 400px;
    justify-content: space-between;
    align-items: center;
}

.header_nav>.left_header img {
    width: 30px;
    height: 30px;
}

.header_nav>.left_header span {
    position: relative;
    bottom: 8px;
}

.iconfont::before {
    font-size: 28px;
    color: inherit
}

.icon-favorite::before {
    font-size: 34px;
    position: relative;
    top: 3px;
}

.icon-cart::before {
    margin-right: 5px;
}

.header_nav .right_header i {
    width: 28px;
    height: 28px;
}


/*---------导航二级菜单--------------*/

.left_header>.phone,
.left_header>.computer {
    position: relative;
    height: 60px;
    line-height: 60px;
    width: 100px;
    text-align: center;
}

.submenu {
    position: absolute;
    top: 60px;
    width: 100px;
    /* border-top: none; */
    background: white;
    border: 1px solid rgb(0 0 0 / 10%);
    border-top: none;
    display: none;
}


/* .left>.phone:hover,
.left>.computer:hover {
    background-color: #f5f5f5;
} */

.left_header>.phone:hover .submenu,
.left_header>.computer:hover .submenu {
    display: block;
    /* background-color: #f5f5f5; */
}

.submenu li {
    height: 40px;
    line-height: 40px;
    text-align: center;
}


/*----------------侧边栏-----------*/

.aside_nav {
    position: fixed;
    top: 10px;
    z-index: 200;
    padding: 15px 16px 0px 16px;
    right: -286px;
    background-color: white;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.aside_nav .title {
    font-size: 20px;
    font-weight: bold;
}

.user_info {
    display: flex;
    margin: 19px 0;
}

.user_info img {
    width: 80px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.user_info .right_user {
    margin-left: 10px;
}

.user_info .username {
    font-size: 26px;
    font-weight: bold;
}

.user_info .email {
    font-size: 16px;
}

.main .option {
    margin-left: 22px;
}

.option li {
    height: 50px;
    cursor: pointer;
}

.option li:hover {
    color: #027cb0;
}

.option li span {
    position: relative;
    top: -5px;
    left: 12px;
}

.option li:nth-child(5) {
    margin-left: 3px;
}

.option li:nth-child(3) span {
    margin-left: -8px;
}

.icon-setting::before {
    font-size: 33px;
}

.icon-tuichu::before {
    font-size: 24px;
}