@import url(reset_style.css);

/*定义全局字体*/

@font-face {
    font-family: "google";
    src: url("../resource/font/NotoSansSC-Regular.otf");
}

* {
    font-family: "google"!important;
}


/*全局样式*/

body {
    margin: 6px;
}


/* 基础样式*/


/* 解决高度坍塌*/

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}


/*子元素左浮动*/

.left>* {
    float: left;
}