    .clear {
        clear: both;
    }
    
    #navigation {
        width: 396px;
        height: 65px;
    }
    
    #navigation p {
        position: relative;
        left: 14%;
        letter-spacing: 5px;
    }
    
    #navigation a {
        font-family: 微软雅黑;
        text-decoration: none;
        line-height: 65px;
        letter-spacing: 5px;
        color: rgb(17, 122, 129);
    }
    
    #navigation a:hover {
        text-decoration: underline;
    }
    
    #navigation hr {
        border: dotted #332B28 1px;
        width: 72%;
        margin: 0 auto;
    }
    
    #search {
        position: relative;
        float: right;
        top: 8px;
        margin-right: 14%;
    }
    
    #left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    #left img {
        width: 545px;
        height: 100%;
    }
    
    #left h1 {
        margin-top: 20px;
    }
    
    #right {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 70px 0 0 0;
    }
    
    .buyImg {
        width: 470px;
        height: 100%;
    }
    
    .proList {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 20px;
    }
    
    .proList .chanpintuijian {
        width: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    
    .chanpintuijian img {
        width: 70px;
        height: 150px;
    }
    
    .chanpintuijian p {
        color: #43a1c7;
    }
    
    span {
        color: #43a1c7;
    }
    
    .rightImg {
        width: 400px;
    }
    
    .buyphone {
        height: 71px;
        right: -317px;
        position: relative;
        width: 423px;
        top: -349px;
        background: linear-gradient(to right, rgb(114, 216, 145), #73eeee);
        cursor: pointer;
        border-radius: 5px;
        border: none;
        color: white;
        font-size: 20px;
    }
    
    .price {
        color: #ffce00;
        width: 50px;
        font-size: 40px
    }
    
    h3 {
        color: rgb(17, 122, 129);
        text-align: center;
    }
    
    .xian2 {
        margin: 50px 0px 0 250px;
        width: 1000px;
        height: 1px;
        background: linear-gradient(to bottom, rgb(187, 184, 184), #43a1c7);
    }
    
    .xian3 {
        width: 1520px;
        height: 1px;
        background: linear-gradient(to bottom, rgb(187, 184, 184), #43a1c7);
    }
    
    #chanpinmiaoshu {
        background-image: -webkit-linear-gradient(bottom, rgb(58, 172, 92), rgb(20, 123, 255));
        -webkit-background-clip: text;
        color: transparent;
        margin: 100px 0 0 20px;
    }