#header,
#primary-menu {
    background-color: #332b2b;
    color: #9b9491;
}

#header {
    padding: 20px 0;
}

.small-menu {
    display: flex;
    justify-content: space-around;
}

#primary-menu,
#big-menu>ul {
    color: white;
    font-size: 15px;
    display: flex;
}

#primary-menu {
    padding: 0 140px;
}

#logo {
    flex: 1;
    font-size: 30px;
}

#big-menu>ul {
    justify-content: space-around;
    height: 60px;
    width: 300px;
}

#big-menu>ul li {
    line-height: 60px;
    margin: 0 20px;
}