.add_header {
    background-color: #00000000;
    box-shadow: none;
}

body {
    background-color: #dcdbdc;
}

video {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    -o-object-fit: cover;
       object-fit: cover;
}