@font-face {
    font-family: "iconfont";
    /* Project id 3004625 */
    src: url('iconfont.woff?t=1639139267109') format('woff'), url('iconfont.ttf?t=1639139267109') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-aboutus:before {
    content: "\e652";
}

.icon-shouye:before {
    content: "\e637";
}

.icon-favorite:before {
    content: "\e629";
}

.icon-cart:before {
    content: "\e73c";
}

.icon-user:before {
    content: "\e60a";
}