@font-face {
  font-family: "iconfont"; /* Project id 3004625 */
  src: url('iconfont.woff2?t=1639410623280') format('woff2'),
       url('iconfont.woff?t=1639410623280') format('woff'),
       url('iconfont.ttf?t=1639410623280') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tuichu:before {
  content: "\e64b";
}

.icon-orders:before {
  content: "\e626";
}

.icon-subscriptions:before {
  content: "\e711";
}

.icon-home:before {
  content: "\e649";
}

.icon-setting:before {
  content: "\e70f";
}

.icon-right_arrow:before {
  content: "\e61f";
}

.icon-left_arrow:before {
  content: "\e63b";
}

.icon-Y:before {
  content: "\e60d";
}

.icon-aboutus:before {
  content: "\e652";
}

.icon-shouye:before {
  content: "\e637";
}

.icon-favorite:before {
  content: "\e629";
}

.icon-cart:before {
  content: "\e73c";
}

.icon-user:before {
  content: "\e60a";
}

